
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}



body {
  width: 100%;
  height: 100vh;
  background-color: #f0d8bb;
  position: relative;
  overflow-y: hidden;
  font-size: 1.6rem;
  z-index: 2;
  color: #1e1f13;
  overflow: hidden;
  font-weight: 900;

}

body::before {
  content: '';
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png");
  position: absolute;
  top: -100%;
  left: -50%;
  width: 300%;
  height: 300%;
  opacity: .3;
  animation: bgMove .5s infinite;
  z-index: 1;
}

@keyframes bgMove {
  0%, 100% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(5%, 10%);
  }
  20% {
    transform: translate(-4%, 8%);
  }
  50% {
    transform: translate(0%, -20%);
  }
  75% {
    transform: translate(-10%, 20%);
  }
}


header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 5rem 0;
  align-items: center;
}

.container a {
  text-decoration: none;
  color: #1e1f13;
}


.container .menu {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: .1rem solid #1e1f13;
  text-align: center;
  line-height: 6rem;
  transition: all .5s;
}

.container .menu:hover {
  background: #1e1f13;
  color: #fff;
  cursor: pointer;
}




#home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .frame {
  width: 42.4rem;
  height: 50rem;
  overflow: hidden;
}

#home .frame img {
  width: 100%;
}

.text {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}



#single {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}


#single .container {
  width: 100%;
  /* height: 100%; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  
}

.top {
  width: 70%;
}

.top-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-bottom {
  display: flex;
  margin: 5rem 0;
  justify-content: center;
  font-size: 5rem;
}

.top-bottom .first {
  margin-right: 2rem;
}

.top-bottom span {
  padding: 0 .2rem;
}




.bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottom .box {
  width: 100%;
}


#single .bottom img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
